@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Inter", sans-serif;
}
.starter-head-text {
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
  margin: 24px 0 48px 0;

  img {
    width: 32px;
    height: 32px;
  }
  h6 {
    font-family: Inter;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    color: white;
    width: fit-content;
  }
}
.long-btn {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid #282828;
  border-radius: 39px;
  padding: 14px 0;
  text-decoration: none;

  span {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
    color: #bdbdbd;
  }
  img {
    width: 28px;
    height: 28px;
  }
}
header {
  width: 100%;
  padding: 48px 80px;

  .header-content {
    width: 100%;
    height: 15vh;
    background-color: transparent;
    border-radius: 24px;
    border: 2px solid #282828;
    display: flex;
    flex-wrap: wrap;

    .bars-div {
      width: 15%;
      height: 100%;
      background-color: transparent;

      display: none;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .bar {
          font-size: 25px;
          color: #bdbdbd;
        }
      }
    }
    .logo-div {
      width: 11%;
      height: 100%;
      background-color: transparent;
      border-right: 2px solid #282828;
      border-bottom-left-radius: 24px;
      border-top-left-radius: 24px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 34px;
        height: 34px;
      }
    }
    .all-links {
      height: 100%;
      width: 89%;
      display: flex;
      flex-direction: column;

      .top-side {
        display: flex;
        height: 50%;
        width: 100%;

        nav {
          width: 85%;
          height: 100%;
          border-right: 2px solid #282828;
          border-bottom: 2px solid #282828;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;

          a {
            text-decoration: none;
            color: white;
          }
        }
        .bars-div {
          width: 15%;
          height: 100%;
          background-color: transparent;
          border-bottom: 2px solid #282828;

          display: flex;
          align-items: center;
          justify-content: center;

          a {
            text-decoration: none;
            color: white;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 72px;
              height: 100%;
            }
          }
        }
      }

      .bottom-side {
        width: 100%;
        height: 50%;
        color: white;
        display: flex;

        .left-side,
        .right-side {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            text-decoration: none;
            font-family: Inter;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #bdbdbd;

            img {
              width: 18px;
              height: 18px;
            }
          }
        }
        .left-side {
          border-right: 2px solid #282828;
        }
      }
    }
  }
  /* Phones */
  @media screen and (max-width: 767px) {
    padding: 20px 20px;

    .header-content {
      height: 10vh;
      justify-content: space-between;

      .logo-div {
        width: 30%;
      }
      .bars-div {
        display: flex;
        width: 30%;
      }
      .all-links {
        .top-side {
          display: none;
        }
        .bottom-side {
          display: none;
        }
      }
    }
  }
  /* Tablets */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 20px;
  }
  /* Laptops */
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    padding: 20px 20px;
  }
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 16px 100px 0 100px;

  h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 120px;
    line-height: 144px;
    letter-spacing: -7.5px;
    text-align: center;
    color: white;
  }
  img {
    width: 100%;
    height: 610px;
    border-radius: 25px;
  }
  /* Phone */
  @media screen and (max-width: 767px) {
    padding: 16px 20px;
    h1 {
      font-size: 50px;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 25px 20px;
    h1 {
      padding: 0 20px;
      font-size: 50px;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  /* Laptop */
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    padding: 30px 20px;
    h1 {
      line-height: normal;
      letter-spacing: normal;
    }
  }
}

.about-us-container {
  width: 100%;
  padding: 140px 100px;
  .about-us {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: white;
      font-family: Inter;
      font-weight: 600;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: -1px;
      width: 50%;
    }
  }
  /* Phone */
  @media screen and (max-width: 767px) {
    padding: 80px 20px;

    .about-us {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 40px;

      h2 {
        color: white;
        font-family: Inter;
        font-weight: 600;
        font-size: 30px;
        width: 100%;
        text-align: center;
      }
      img {
        width: 100%;
      }
    }
  }
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 80px 20px;

    .about-us {
      flex-direction: column;
      align-items: center;
      gap: 80px;

      h2 {
        color: white;
        font-family: Inter;
        font-weight: 600;
        font-size: 38px;
        line-height: 40px;
        letter-spacing: -1px;
        width: 100%;
        text-align: center;
      }
      img {
        width: 80%;
      }
    }
  }
  /* Laptop */
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    padding: 80px 20px;
  }
}
.services-container {
  width: 100%;
  padding: 0 100px 80px 100px;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .side {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 32px 0;
      border-bottom: 1px solid #282828;

      .img-and-text {
        display: flex;
        gap: 32px;

        img {
          width: 150px;
          height: 40px;
          background-color: gray;
          border-radius: 18px;
        }
        h4 {
          font-family: Inter;
          font-weight: 600;
          font-size: 34px;
          line-height: 40px;
          letter-spacing: -1px;
          color: #ffffff;
        }
      }
      .plus {
        color: #9d9fa1;
        font-size: 25px;
      }
    }
    .side-1-no-padding-top {
      padding-top: 0;
    }
  }
  /* Phone */
  @media screen and (max-width: 767px) {
    padding: 0 20px 80px 20px;

    .content {
      .side .img-and-text {
        img {
          max-width: 80px;
        }
        h4 {
          font-size: 24px;
        }
      }
    }
  }
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 0 20px 80px 20px;
  }
  /* Laptop */
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0 20px 80px 20px;
  }
}

.works-container {
  width: 100%;
  padding: 0 100px 80px 100px;

  .all-sides {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .top-side,
    .bottom-side {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 32px;

      .card {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid #282828;
        border-radius: 24px;
        background: #000000;
        overflow: hidden;
        img {
          width: 100%;
          height: 513px;
        }
        h4 {
          font-family: Inter;
          font-weight: 600;
          font-size: 28px;
          line-height: 34px;
          letter-spacing: -0.6px;
          color: #ffffff;
          padding: 40px;
        }
      }
    }
  }
  /* Phone */
  @media screen and (max-width: 767px) {
    padding: 0 20px 80px 20px;

    .all-sides {
      .top-side,
      .bottom-side {
        flex-direction: column;

        .card {
          width: clamp(100%, 100%, 100%);

          img {
            height: 300px;
          }
        }
      }
    }
  }
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 0 20px 80px 20px;

    .all-sides {
      .top-side,
      .bottom-side {
        flex-direction: column;

        .card {
          width: clamp(100%, 100%, 100%);
        }
      }
    }
  }
  /* Laptop */
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0 20px 80px 20px;
  }
}

.team-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 100px;

  .responsive-team-section-tablet-and-phone {
    display: none;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    h2 {
      font-family: Inter;
      font-weight: 600;
      font-size: 32px;
      line-height: 46px;
      letter-spacing: -2px;
      color: white;
      width: 100%;
      text-align: center;
    }
    .side {
      display: flex;
      width: 100%;
      gap: 25px;

      .card {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        gap: 16px;
        border-radius: 24px;
        background: #000000;
        border: 2px solid #282828;
        overflow: hidden;

        img {
          width: 100%;
          filter: grayscale(100%);
          height: 200px;
        }
        .texts {
          display: flex;
          flex-direction: column;
          gap: 4px;
          color: white;
          padding: 0 16px;
        }
        h4 {
          font-family: Inter;
          font-weight: 600;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0px;
          color: #ffffff;
        }
        p {
          font-family: Inter;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0px;
          color: #9d9fa1;
        }
      }
    }
  }
  .all-sections {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    #responsive-team-text-section-laptop {
      display: none;
      font-family: Inter;
      font-weight: 600;
      font-size: 52px;
      line-height: 46px;
      color: white;
      width: 100%;
      text-align: center;
    }
    .cards {
      display: flex;
      gap: 32px;

      .card {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        gap: 16px;
        border-radius: 24px;
        background: #000000;
        border: 2px solid #282828;
        overflow: hidden;

        img {
          width: 100%;
          filter: grayscale(100%);
          height: 320px;
        }
        .texts {
          display: flex;
          flex-direction: column;
          gap: 4px;
          color: white;
          padding: 0 16px;
        }
        h4 {
          font-family: Inter;
          font-weight: 600;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0px;
          color: #ffffff;
        }
        p {
          font-family: Inter;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0px;
          color: #9d9fa1;
        }
      }
    }

    .top-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 32px;

      .top-cards {
        width: 50%;
      }
      h2 {
        font-family: Inter;
        font-weight: 600;
        font-size: 52px;
        line-height: 46px;
        letter-spacing: -2px;
        color: white;
        width: 50%;
        display: flex;
        align-items: center;
      }
      .card-top-3 {
        display: none;
      }
    }
    .bottom-section {
      display: flex;
      width: 100%;

      .bottom-cards {
        width: 100%;
      }
    }
  }
  /* Phone */
  @media screen and (max-width: 767px) {
    padding: 0 20px;

    .responsive-team-section-tablet-and-phone {
      display: flex;
    }
    .all-sections {
      display: none;
    }
  }
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 0 20px;

    .responsive-team-section-tablet-and-phone {
      display: flex;

      .side .card img {
        height: 320px;
      }
    }
    .all-sections {
      display: none;
    }
  }
  /* Laptop */
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0 20px 80px 20px;
    gap: 0;

    .all-sections {
      #responsive-team-text-section-laptop {
        display: block;
      }
      .top-section {
        margin-top: 15px;
        h2 {
          display: none;
        }
        .top-cards {
          width: 100%;

          .card-top-3 {
            display: flex;
          }
          .card {
            width: calc(100% / 3);
          }
        }
      }
      .bottom-section .bottom-cards {
        .card-bottom-4 {
          display: none;
        }
      }
    }
  }
}

.consultation-container {
  width: 100%;
  padding: 80px 100px 0 100px;

  .consultation-box {
    width: 100%;
    height: 544px;
    background: url(./Images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.44);
      position: absolute;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      z-index: 100;
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      h2 {
        font-family: Inter;
        font-weight: 600;
        font-size: 98px;
        line-height: 104px;
        letter-spacing: -4.5px;
        text-align: center;
        width: 55%;
      }
      p {
        font-family: Inter;
        font-weight: 400;
        font-size: 22px;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: center;
        width: 60%;
      }
    }
    .link {
      a {
        border-radius: 39px;
        padding-top: 12px;
        padding-right: 28px;
        padding-bottom: 12px;
        padding-left: 28px;
        text-decoration: none;
        display: flex;
        gap: 8px;
        background-color: #ffffff;
      }
    }
  }
  /* Phone */
  @media screen and (max-width: 767px) {
    padding: 80px 20px 0 20px;

    .consultation-box {
      .content {
        .text h2 {
          font-family: Inter;
          font-weight: 600;
          font-size: 50px;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          width: 100%;
        }
        .text p {
          font-family: Inter;
          font-weight: 400;
          font-size: 22px;
          line-height: 38px;
          letter-spacing: 0px;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 80px 20px 0 20px;

    .consultation-box {
      .content {
        gap: 42px;
        .text h2 {
          font-family: Inter;
          font-weight: 600;
          font-size: 70px;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          width: 100%;
        }
        .text p {
          font-family: Inter;
          font-weight: 400;
          font-size: 22px;
          line-height: 38px;
          letter-spacing: 0px;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  /* Laptop */
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    padding: 80px 20px 0 20px;
    .content {
      gap: 42px;
    }
  }
}

footer {
  padding: 80px 100px 80px 100px;
  width: 100%;

  .responsive-footer-phone-and-tablet-content {
    width: 100%;
    height: 21vh;
    border: 2px solid #282828;
    border-radius: 32px;
    color: #bdbdbd;
    display: none;
    flex-direction: column;

    .responsive-top-side {
      width: 100%;
      height: 50%;
      border-bottom: 2px solid #282828;
      display: flex;
      justify-content: center;
      align-items: center;

      .responsive-logo-section {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
        }
        h2 {
          font-family: Inter;
          font-weight: 500;
          font-size: 32px;
          line-height: 44.03px;
          letter-spacing: -0.58px;
          color: #bdbdbd;
        }
      }
    }
    .responsive-bottom-side {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;

      .left {
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 2px solid #282828;

        .email {
          width: 75%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            font-family: Inter;
            font-weight: 600;
            font-size: 25px;
            line-height: 34px;
            letter-spacing: -0.6px;
            text-align: center;
            text-decoration: none;
            color: #bdbdbd;
          }
        }
        .social-links
        {
          display: none;
          width: 50%;
          height: 100%;
          gap: 20px;
          align-items: center;
          justify-content: center;

          a {
              text-decoration: none;
              color: #bdbdbd;
              background-color: #282828;
              width: 46px;
              height: 46px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .social-icon {
              font-size: 22px;
              color: #bdbdbd;
            }
        }
      }
      .right {
        width: 25%;
        height: 100%;
        display: flex;

        a {
          width: 100%;
          height: 100%;
          color: #bdbdbd;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;

          .bar {
            font-size: 30px;
            color: #bdbdbd;
          }
        }
      }
    }
  }
  .footer-content {
    width: 100%;
    height: 21vh;
    border: 2px solid #282828;
    border-radius: 32px;
    color: #bdbdbd;
    display: flex;

    .logo-section {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
      border-right: 2px solid #282828;

      img {
        width: 25.49px;
        height: 25.49px;
      }
      h2 {
        font-family: Inter;
        font-weight: 500;
        font-size: 30.12px;
        line-height: 44.03px;
        letter-spacing: -0.58px;
      }
    }
    .right-side {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      color: #bdbdbd;

      .top-side {
        width: 100%;
        height: 50%;
        display: flex;
        border-bottom: 2px solid #282828;

        .left {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #bdbdbd;
          border-right: 2px solid #282828;

          .links {
            display: flex;
            gap: 40px;

            a {
              text-decoration: none;
              color: #bdbdbd;
            }
          }
        }
        .right {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #bdbdbd;

          .email {
            a {
              font-family: Inter;
              font-weight: 600;
              font-size: 28px;
              line-height: 34px;
              letter-spacing: -0.6px;
              text-align: center;
              text-decoration: none;
              color: #bdbdbd;
            }
          }
        }
      }
      .bottom-side {
        display: flex;
        width: 100%;
        height: 50%;
        color: #bdbdbd;

        .left {
          width: calc(100% / 3);
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 2px solid #282828;

          .link {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 4px;

            span {
              color: #bdbdbd;
            }
          }
        }
        .center {
          width: calc(100% / 3);
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 2px solid #282828;

          .links {
            display: flex;
            gap: 16px;

            a {
              text-decoration: none;
              color: #bdbdbd;
              background-color: #282828;
              width: 36px;
              height: 36px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .social-icon {
              font-size: 18px;
              color: #bdbdbd;
            }
          }
        }
        .right {
          width: calc(100% / 3);
          display: flex;
          align-items: center;
          justify-content: center;
          color: #bdbdbd;

          p {
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #bdbdbd;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 40px 20px 40px 20px;

    .responsive-footer-phone-and-tablet-content {
      display: flex;
    }
    .footer-content {
      display: none;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 1024px) {
    padding: 40px 20px 40px 20px;

    .responsive-footer-phone-and-tablet-content {
      display: flex;

      .responsive-bottom-side
      {
        .left
        {
          justify-content: space-between;

          .email
          {
            width: 50%;
            border-right: 2px solid #282828;

            a
            {
              font-size: 28px;
            }
          }
          .social-links
          {
            display: flex;
          }

        }
      }
    }
    .footer-content {
      display: none;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1440px)
  {
    padding: 40px 20px 40px 20px;
  }
}
